@import "topic.scss";

header {
  @include vertical-shadow(4px);
  position: fixed;
  background-color: $primary-bg-color;
  color: $primary-color-alt;
  padding: 3px;
  margin-bottom:4px;
  top: 0;
  width: 100%;
  z-index:3;
}

nav {
  display:inline-block;

  a, a:hover {
    color: #fff;
  }
}

ul.element-list {
  padding: 0;
  list-style:none;

  li.element {
    &:not(last-child) {
      margin-bottom: 10px;
    }

    .go {
      visibility: hidden;
    }

    ul.element-links {
      list-style: none;
      padding:0;

      li {
        display: inline;
        list-style-type: none;
      }

      li a {
        @extend .irrelevant;
      }
    }
  }

  li.element:hover .go {
    visibility: inherit;
  }

  a:hover {
    text-decoration: none;
  }

}

#content {
  margin-top: 66px;
}