.element .reply-log span {
  @extend .small;
  color: #0d9937;
  display: block;
}

.element-comment-reply {
  margin-top:-10px;
}

.new-comment {
  label {
    display: none;
  }

  textarea {
    height: 50px;
    margin-top: 15px;
    width: 40%;
    min-width: 200px;
  }

  button[type=submit] {
    margin-top: 5px;
  }
}