/* CONSTANTS */

$primary-color: #700048;
$primary-color-alt: #FFF;
$primary-bg-color: #df3fff;
$primary-bg-color-alt: #fcdbff;
$default-color: #444;
$default-bg-color: #eaeaea;
$error-color: #f00;
$irrelevant-color: #888;

/* GLOBAL FUNCTIONS */

@mixin vertical-shadow($vertical-length:4px) {
  $horizontal-length: 0px;
  $blur-radius: 17px;
  $spread-radius: 0px;
  $shadow-color: rgba(0,0,0,.14);

  -webkit-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
  -moz-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
  box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
}

/* IMPORTS */

@import 'posts/base.scss';

/* GLOBAL ELEMENTS */

body {
  color: $default-color;
  background-color: $default-bg-color;
}

h1, h2, h3, h4, h5 {
  margin:0;
  padding:0;
}

a {
  color: $default-color;

  &:hover {
    color: $default-color;
  }
}

.center {
  margin: 0 auto;
}

.clear::after {
  content:"";
  display:block;
  clear:both;
}

.center-form {
  @extend .center;
  @extend .clear;
  width: 500px;
}

.right {
  float: right;
}

.error {
  color: $error-color;
}

.element {
  background-color:#fff;
  border-radius:1px;
  padding: 11px 15px 11px 15px;

  .element-title {
    display:block;
    font-weight: 600;
  }
}

.fit-width {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 800px) {
  .fit-width {
    width: 95%;
  }
}

.irrelevant {
  font-size: 10px;
  color: $irrelevant-color;
}

.shadowed {
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

.small {
  font-size: 10px;
}

.push-up {
  position: relative;
  margin-top: -10px;
}

#content {
  padding:10px 10px 10px 10px;
}