{% extends "posts/base.html" %}

{% block posts_content %}
    <nav>
        <div class="left">
            Category
        </div>
        <div class="right">
            <a href="{% url "posts:category_add" %}">Create category</a>
        </div>
    </nav>
    <ul>
        {% for category in object_list %}
            <li>
                <a href="{% url "posts:category" category.title %}">
                    {{category.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}