{% extends "posts/base.html" %}

{% block nav %}
    <a href="{%  url "posts:categories" %}">Categories</a>
{% endblock %}

{% block posts_content %}
    <h2>Categories</h2>
    <a class="corner-btn" href="{% url "posts:category_add" %}">+</a>

    <ul class="fit-width element-list push-up">
        {% for category in object_list %}
            <a href="{% url "posts:category" category.slug %}">
                <li class="shadowed element">
                    <span class="go right">
                        &#10148;
                    </span>
                    {{category.title}}
                </li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}