{% extends "posts/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static "js/posts/vote.js" %}"></script>
{% endblock %}

{% block posts_content %}
    <a href="{% url "posts:category" object.category %}">{{ object.category }}</a>

    <!-- TOPIC -->
    <h2>
        <upvotes>
            <a class="vote" href="{% url "posts:topic_upvote" object.id %}">&uarr;</a>
            <span class="vote_label">{{ object.vote.up }}</span>
        </upvotes>
        <downvotes>
            <a class="vote" href="{% url "posts:topic_downvote" object.id %}">&darr;</a>
            <span class="vote_label">{{ object.vote.down }}</span>
        </downvotes>
        {{ object.title }}
    </h2>
    <p>{{ object.content }}</p>
    <hr>
    <hr>

    <!-- COMMENTS -->
    {% for comment in comments %}
        <p>
            {{ comment.content }}
        </p>
        <hr>
    {% endfor %}
{% endblock %}