{% extends "posts/base.html" %}

{% block nav %}
    <a href="{% url "posts:category" %}">Categories</a> >
    <a href="{% url "posts:category" category %}">{{ category }}</a> |
    <a href="{% url "posts:topic_add" category.title %}">New topic</a>
{% endblock %}

{% block posts_content %}
    <h2>New topic</h2>

    <div class="center-form shadowed element">
        <form method="POST">
            {% include "basic_form_partial.html" %}
            <button class="right btn" type="submit">Create</button>
        </form>
    </div>
{% endblock %}