{% extends "posts/base.html" %}

{% block nav %}
    <a href="{% url "posts:category" %}">Categories</a> >
    <a href="{% url "posts:category" category.title %}">{{ category }}</a>
{% endblock %}

{% block posts_content %}
    <h2>{{ category }}</h2>
    <a class="corner-btn" href="{% url "posts:topic_add" category.title %}">+</a>

    <ul class="fit-width element-list push-up">
        {% for topic in object_list %}
            <a href="{% url "posts:topic" topic.id %}">
                <li class="shadowed element">
                    <span class="go right">
                        &#10148;
                    </span>
                    <span class="element-title">
                        {{ topic.title }}
                    </span>
                    {{ topic.content | truncatechars:30 }}
                </li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}