{% extends "posts/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static "js/posts/vote.js" %}"></script>
{% endblock %}

{% block posts_content %}
    <h2>
        <upvotes>
            <a class="vote" href="{% url "posts:post_upvote" main_post.id %}">&uarr;</a>
            <span class="vote_label">{{ main_post.vote.up }}</span>
        </upvotes>
        /
        <downvotes>
            <a class="vote" href="{% url "posts:post_downvote" main_post.id %}">&darr;</a>
            <span class="vote_label">{{ main_post.vote.down }}</span>
        </downvotes>
        Post: {{ main_post.title }}</h2>
    <p>{{ main_post.content }}</p>
    <hr>
    <hr>
    {% for post in object_list %}
        <p style="padding-left:{% widthratio post.nest_level 1 20 %}px">
            <b>{{ post.title }}</b><br>
            {{ post.content }}
            Reply
        </p>
        <hr>
    {% endfor %}
{% endblock %}